<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="merbah3266.lsposed.start">
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="LSPosed">
        
        <activity 
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="false">I 
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>